
<p>
  <b>Name:</b>
  <%= @store.name %>
</p>

<p>
  <b>Announcement:</b>
  <%= @store.announcement %>
</p>
<%= render partial: 'favorites/favorites', locals: { sogoke: @store } %>
<p>商品：</p>
<% @store.products.each do |p| %>
	<%= link_to p.name, product_path(p) %>
<% end -%>