<!--Passit BUTTON BEGIN-->
<div class="passit_barDiv"><a class="passit_default" href="http://www.passit.cn/bookmark.html" target="_blank"></a></div>

<script type="text/javascript">
var passit_title = "";//自定义分享标题，删除和留空表示使用默认
var passit_url = "";//自定义分享网址，删除和留空表示使用默认
var passit_content= "";//自定义分享内容，删除和留空表示使用默认Meta中的描述
var passit_image= "";//自定义分享图片，删除和留空表示不分享图片
var sina_appkey= "";//sina微博appkey,删除和留空表示使用默认
var qq_appkey= "";//腾讯微博appkey,删除和留空表示使用默认
</script>
<script type="text/javascript">
bookmark_service_div="kxzt,qqxy,bookmark,more";
bookmark_service="sinaweibo,qqweibo,douban,xnzt,fanfou";</script>
<script type="text/javascript" src="http://www.passit.cn/js/passit_bar_big_new.js?pub=0&simple=1&style=52" charset="UTF-8"></script>
<!--Passit BUTTON END-->