<p>你好 <%= @resource.email %>!</p>

<p>点击下面的链接即可找回密码：</p>

<p><%= link_to '找回密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>如果修改密码的请求并非由你发起，请你自行忽略此邮件。</p>
